{% extends "base.html" %}

{% block announce %}
  <a href="https://twitter.com/barqueira">
    Para atualizações siga <strong>Barqueira</strong> no
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>   
  </a>
  <span style="color:rgb(255, 132, 0)">eBook estará disponível em meados de 2023</span>
{% endblock %}

{% block content %}
  {{ super() }}
  {% if page and page.meta %}
    <p>
    {% if page.meta.author %}
      <small>Author: {{ page.meta.author }}</small><br />
    {% endif %}
    {% if page.meta.date %}
      <small>Date: {{ page.meta.date }}</small><br />
    {% endif %}
    </p>
  {% endif %}
{% endblock %}